@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --font-main: 'DM Sans';
  --font-header: 'Titan One';
  --basic-color: #fff;
  --text-main: #000;
  --text-second: #907E82;
  --brand-one: #D41443;
  --brand-second: #FFA5BA;
  --background-header: #FFB8CA;
  --background-about: #FFF5F6;
  --background-clients: #FAFAFA;
  --coffie-color: #F0D1A5;
  --shakes-color: #C2E297;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.contacts {
  background-color: var(--background-about);
}

.contacts__list {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 220px;
  height: 427px;
  padding: 43px 20px;
  background: var(--basic-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__list:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
}

.contacts__item__branch {
  margin-bottom: 25px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--basic-color);
  border-radius: 4px;
}

.cafe__branch {
  width: 80px;
  background: var(--coffie-color);
}

.foodtruck__branch {
  width: 130px;
  background: var(--shakes-color);
}

.contacts__item__town {
  margin-bottom: 10px;
  letter-spacing: 0.04em;
  color: var(--text-main);
}

.contacts__item__description {
  line-height: 150%;
  /* or 18px */
  color: #907E82;
  /* linia zrobiona jako border bottom a nie before */
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}

.contacts__item__opening-days,
.contacts__item__opening-weekends {
  color: var(--text-main);
}

.contacts__item__opening-days-hours,
.contacts__item__opening-weekends-hours {
  color: var(--background-header);
}

.contacts__item__opening-days {
  padding-top: 25px;
}

.contacts__item__opening-weekends-hours {
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}

.contacts__phone,
.contacts__mail {
  line-height: 150%;
  /* or 18px */
  color: var(--text-second);
}

.contact__item__phone {
  padding-top: 50px;
}

.contacts__btn {
  display: block;
  margin-top: 54px;
  margin-left: 79px;
  margin-right: auto;
}

.modal-btn__locations,
.modal-btn__franchise {
  width: 161px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: var(--brand-one);
  background: var(--basic-color);
  border-radius: 22px;
  cursor: pointer;
}

.modal-btn__locations:not(:last-child),
.modal-btn__franchise:not(:last-child) {
  margin-bottom: 10px;
}

.modal-btn__locations .icon-btn {
  margin-left: 8px;
}

.icon-btn {
  width: 4.28px;
  height: 8px;
  margin-left: 13.16px;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 119px;
  }
  .contacts__list {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 544px;
    padding: 50px 31px;
  }
  .contacts__list:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .contacts__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
  }
  .contacts__item__branch {
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--basic-color);
    border-radius: 4px;
  }
  .cafe__branch {
    width: 80px;
    background: var(--coffie-color);
  }
  .foodtruck__branch {
    width: 130px;
    background: var(--shakes-color);
  }
  .contacts__item__town {
    margin-bottom: 10px;
    letter-spacing: 0.04em;
    color: var(--text-main);
  }
  .contacts__item__description {
    line-height: 150%;
    /* or 18px */
    color: #907E82;
    /* linia zrobiona jako border bottom a nie before */
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
  }
  .contacts__item__opening-days,
  .contacts__item__opening-weekends {
    color: var(--text-main);
  }
  .contacts__item__opening-days-hours,
  .contacts__item__opening-weekends-hours {
    color: var(--background-header);
  }
  .contacts__item__opening-days {
    padding-top: 25px;
  }
  .contacts__item__opening-weekends-hours {
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
  }
  .contacts__phone,
  .contacts__mail {
    line-height: 150%;
    /* or 18px */
    color: var(--text-second);
  }
  .contact__item__phone {
    padding-top: 50px;
  }
  .contacts__btn {
    display: block;
    margin-top: 54px;
    margin-left: 79px;
    margin-right: auto;
  }
  .modal-btn__locations,
  .modal-btn__franchise {
    width: 161px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: var(--brand-one);
    background: var(--basic-color);
    border-radius: 22px;
    cursor: pointer;
  }
  .modal-btn__locations:not(:last-child),
  .modal-btn__franchise:not(:last-child) {
    margin-bottom: 10px;
  }
  .modal-btn__locations .icon-btn {
    margin-left: 8px;
  }
  .icon-btn {
    width: 4.28px;
    height: 8px;
    margin-left: 13.16px;
  }
}
/*# sourceMappingURL=main.css.map */