<section class="contacts">
    <div class="container">

        <h2 class="contact__header" hidden>Contact</h2>

        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__item__branch cafe__branch">CAFE</p>
            </li>

            <li class="contacts__item">
                <p class="contacts__item__town">Chicago</p>
                <p class="contacts__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>

            <li class="contacts__item">
                <p class="contacts__item__opening-days">Monday - Friday<br>
                    <span class="contacts__item__opening-days-hours">06:00 AM - 10:00 PM</span>
                </p>
                <p class="contacts__item__opening-weekends">Saturday - Sunday<br>
                    <span class="contacts__item__opening-weekends-hours">08:00 AM - 16:00 PM</span>
                </p>
            </li>
            <li class="contacts__item">
                <p class="contact__item__phone"><a class="contacts__phone link" href="tel:+61(0)383766284">+61(0) 383
                        766 284</a></p>
                <p class="contact__item__email"><a class="contacts__mail link"
                        href="mailto:noreply@envato.com">noreply@envato.com</a></p>
            </li>
        </ul>

        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__item__branch cafe__branch foodtruck__branch">FOOD TRUCK</p>
            </li>

            <li class="contacts__item">
                <p class="contacts__item__town">Los Angeles</p>
                <p class="contacts__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>

            <li class="contacts__item">
                <p class="contacts__item__opening-days">Monday - Friday<br>
                    <span class="contacts__item__opening-days-hours">06:00 AM - 10:00 PM</span>
                </p>
                <p class="contacts__item__opening-weekends">Saturday - Sunday<br>
                    <span class="contacts__item__opening-weekends-hours">08:00 AM - 16:00 PM</span>
                </p>
            </li>
            <li class="contacts__item">
                <p class="contact__item__phone"><a class="contacts__phone link" href="tel:+61(0)383766284">+61(0) 383
                        766 284</a></p>
                <p class="contact__item__email"><a class="contacts__mail link"
                        href="mailto:noreply@envato.com">noreply@envato.com</a></p>
            </li>
        </ul>

        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__item__branch cafe__branch">CAFE</p>
            </li>

            <li class="contacts__item">
                <p class="contacts__item__town">New York</p>
                <p class="contacts__item__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>

            <li class="contacts__item">
                <p class="contacts__item__opening-days">Monday - Friday<br>
                    <span class="contacts__item__opening-days-hours">06:00 AM - 10:00 PM</span>
                </p>
                <p class="contacts__item__opening-weekends">Saturday - Sunday<br>
                    <span class="contacts__item__opening-weekends-hours">08:00 AM - 16:00 PM</span>
                </p>
            </li>
            <li class="contacts__item">
                <p class="contact__item__phone"><a class="contacts__phone link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <p class="contact__item__phone"><a class="contacts__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
    </div>

    <div class="contacts__btn">
        <button class="modal-btn__locations">Our Locations
            <svg class="icon-btn">
                <use href="./images/sprite.svg#icon-btn"></use>
            </svg>

        </button>
        <button class="modal-btn__franchise">Franchise
            <svg class="icon-btn">
                <use href="/src/images/sprite.svg#icon-btn"></use>
            </svg>
        </button>
    </div>
</section>