<footer class="footer">
    <div class="title">
    <!-- jako że w wytycznych jest żeby przenieść tytuł dałem h2h1 zamiast p -->
    <h2 class="title__first">homemade ice cream made</h2>
    
    <h1 class="title__second">with passion</h1>
    </div>
    <!-- kontener na sociale i kontakt -->
    <div>
      <!-- kontener na sociale -->
      <div>
        <ul class="social-list list">
          <li >
              <a href="https:github.com" class="social-list__link">
                  <svg class="social-list__icon">
                      <use href="icons.svg#icon-git"></use>
                  </svg>
              </a>
          </li>
          <li >
              <a href="https:telegram.org" class="social-list__link">
                  <svg class="social-list__icon">
                      <use href="icons.svg#icon-telegram"></use>
                  </svg>
              </a>
          </li>
          <li >
              <a href="https:facebook.com" class="social-list__link">
                  <svg class="social-list__icon">
                      <use href="icons.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
      </ul>
      <!-- kontener na kontakt -->
      </div>
      <div class="footer-contact">
        <p class="footer-contact__caption">Feel free to contact <a class="footer-contact__link" href="tel:61(0)383766284">+ 61 (0) 383 766 284</a></p>
      </div>
    </div>
    <!-- kontener na prawa autorskie -->
    <div class="copyrights">
      <p class="copyrights__text">@ 2019 - IceCream. All Rights Reserved</p>
    </div>

  </footer>