<header class="header" style="background-color: #ffb8ca">
  <div class="header-container container">

    <div class="burger">
      <svg class="burger-menu" width="24" height="16" data-menu-open>
          <use href="./images/sprite.svg#icon-burger_menu"></use>
      </svg>

    <nav class="navigation">
      <a class="logo" href="./index.html">
        <img src="/images/header/logo.png" alt="logo Ice Cream" width="199" height="50" />
      </a>
      
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link navigation__link-active link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#blue" class="navigation__link navigation__link-active link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link navigation__link-active link">How it's made?</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link navigation__link-active link">Our Prodacts</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link navigation__link-active link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">Buy now</button>
  </div>

  <!-- Hero -->
  <main>
    <section class="hero">
      <div class="container">
        <h1 class="main-header">
          <span class="logo--accent">ice cream made with </span
          ><span class="logo--light-theme">passion</span>
        </h1>
        <ul class="hero-button__list">
          <li class="hero-button__item">
            <button class="hero-btn hero-btn-red">Products</button>
          </li>
          <li class="hero-button__item"><button class="hero-btn">How it's made?</button></li>

        <img src="/images/header/milk.png" alt="" width="188" />
        <img src="/images/header/ellipse.png" alt="" width="538" />
        <img src="/images/header/ice.png" alt="" width="236" />
        <img src="/images/header/tasty.png" alt="" width="293" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </section>
  </main>
</header>

